.return-back {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
  width: 24px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  svg {
    width: 24px;
    fill: var(--neutral-20);
  }
}